/* 

write your code here

*/
@media print {
    .tm-sidebar, .blocks, #ideas, #about, .heading, #contact, .img-fluid {
        display: none;
     }
     .tm-content-box, .tm-main-nav, .tm-team-description-container {
        border: none;
        box-shadow: none;
      }
      .tm-team-description-container>h2 {
        color:blue;
      }
     .flex-2-col{
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .tm-team-description-container{
        flex: 1 0 67%;
     }
     .flex-item img {
        flex: 0 1 33%;
     }
     body{
        max-width: 70%;
        margin: 0 auto;
     }
     section::before {
        display: none;
     }
 }

 .box-bg:hover {
     background-color: #87CEFA;
 }
 
 .tm-box-bg-title:hover {
     color: #ffffff;
     font-weight: bold;
 }

 p.tm-section-description::first-letter, .tm-banner-text::first-letter, .text-xs-center::first-letter {
     color: #87CEFA;
     font-size: 30px;
 }

 .blocks p::first-letter {
    color: #000000 !important;
 }

 .flex-2-col {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .tm-main-nav, .tm-content-header, section {
    box-shadow: 0px 0px 5px 2px #808080;
 }

 .tm-nav-item:hover {
    background:#f5f5f5;
 }

 .tm-banner {
     background: #f5f5f5;
 }

 .tm-banner-inner {
     background-color: #ffffff;
 }

 section::before {
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(15% 0, 0 4%, 0 0);
    background: #87CEFA;
 }

 .carousel-content .flex-item h2 {
    color: gainsboro !important;
    letter-spacing: 5px;
 }

 .tm-section-description:first-of-type, .box-work p {
    font-style: italic;
 }

 .tm-section-description {
    text-indent: 25px;
    line-height: 2em;
 }

 .heading h2{ 
    text-align: center;
    color: #87CEFA;
 }

 .text::after {
      font-size: 50%;
      vertical-align: top;
      content: "New";
      color: #ff0000;
      position: absolute;
 }

 a {
    color: #000000; 
 }

 a:visited {
    text-decoration: underline;
    color: #000000;
 }

 a:hover {
    text-decoration: underline double;
    color: #87CEFA;
 }

 .box-work {
    padding: 10px;
 }
 
 .box-work:nth-child(even) {
    background-color: #f5f5f5;
 }

 .box-work p::first-letter {
    font-size: 30px;
 }

 .mandatory-field::after {
    content: "*";
    font-weight: 650;
    color: #FF0000;
 }
 
 .submit-btn {
     display: block;
     margin-left: auto;
     color:#87CEFA;
     background-color: #ffffff;
     border-color: #87CEFA;
     padding: 15px 50px;
     border-radius: 1px;
 }

 .submit-btn:hover {
    color: #ffffff;
    background-color: #87CEFA;
    border-color: transparent;
 }

  .tm-footer a {
   color: #0275d8;
   text-decoration: none;
}