
body {
  width: 100%;
  height: 100%;
  text-align: center;
  background: fixed;
  background-color: #1b1b1b;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #1b1b1b;
  margin: 0;
}

#wrap {
  width: 960px;
  margin: auto;
  background-color: #cbc4c7;
}

#navBar {
  margin: 1px auto 0;
  position: relative;
  width: 590px;
  height: 50px;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #1b1b1b;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 110px;
}
a:nth-child(3) {
  width: 100px;
}
a:nth-child(4) {
  width: 160px;
}
a:nth-child(5) {
  width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: #cf5e1c;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: #d8bf2f;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: #8cd16c;
}
nav .start-portfolio, a:nth-child(4):hover~.animation {
  width: 160px;
  left: 310px;
  background-color: #49c2e0;
}
nav .start-contact, a:nth-child(5):hover~.animation {
  width: 120px;
  left: 470px;
  background-color: #2287e6;
}

#flex-container {
  display: flex;
  padding: 0 30px;
  max-width: 960px;
  align-items: center;
}

#aboutAuthor , #blog-photo {
  flex: 1 1 auto;
  margin: 0 2px;
  margin-top: 10px;
}

h2::first-letter {
  font-size: 30px;
  color: #ba7519;
}

h2 {
  margin: 50px auto 5px;
}

.flex-box {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  justify-content: center;
  align-content: center;
}

.flex-cell>h4 {
  position: relative;
  top: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eedbcf;
  text-shadow: 1px 1px 1px #000000;
}

.flex-cell img {
  -webkit-filter: grayscale(50%);
	filter: grayscale(50%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.flex-cell:hover img {
  -webkit-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.42); 
  box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.42);
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: rgba(184, 184, 184, 0.678);
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #eedbcf;
  text-shadow: 1px 1px 1px #000000;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
